<%- include("partials/head", {pageTitle: "404 error"}) %>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h1>Not Authenticated</h1>
        <p>You have to login to access this.</p>
    </main>
<%- include("partials/footer") %>