<%- include("partials/head", {pageTitle: "500 error"}) %>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h1>Something Went Wrong...</h1>
        <p>Please try again after sometime.</p>
    </main>
<%- include("partials/footer") %>